.navbar{
    background: transparent;
    height: 5rem;
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    padding: 1rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 3;
    margin-top: 0;
}

.logo{
    object-fit: cover;
    height: 4.5rem;
    width: 4rem;
}

.desktopMenuListItem{
    margin: 1rem;
    cursor: pointer;
}

.desktopMenuListItem:hover{
    color: yellow;
    padding-bottom: 0.5rem;
    border-bottom: 3px solid yellow;
}

.desktopMenuBtn{
    background: white;
    color: black;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    border-radius: 2rem;
}

.navbarBtn{
    display: none;
    background: white;
    color: black;
    border: none;
    padding: 1rem 1rem;
    border-radius: 1rem;
}

.desktopMenuImg{
    object-fit: cover;
    height: 1rem;
    width: 1rem;
    margin: 1rem;
}

.desktopMenu.open {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: larger;
    gap: 1rem;
    position: absolute;
    top: 5rem; 
    right: 0;
    width: 100%;
    height: 50vh;
    background: rgba(0, 0, 0, 0.5);
    padding: 1rem 2rem;
    z-index: 2;
}

.desktopMenu a{
    color: white;
}


@media screen and (max-width:650px)  {
    .navbar{
        display: flex;
        justify-content: space-between;
    }

    .desktopMenuBtn{
        display: none;
    }

    .desktopMenu{
        display: none;
    }

    .navbarBtn{
        display: block;
    }
}